__pycache__/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
htmlcov/
.tox/
.nox/
.hypothesis/
.pytest_cache/
cover/
instance/
docs/_build/
.pybuilder/
target/
profile_default/
.pdm-build/
__pypackages__/
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.mypy_cache/
.pyre/
.pytype/
cython_debug/
.idea/
.ruff_cache/
.secrets
*.py[cod]
*$py.class
*.pyc
*.so
.Python
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
.webassets-cache
.scrapy
.ipynb_checkpoints
ipython_config.py
 .python-version
Pipfile.lock
uv.lock
poetry.lock
pdm.lock
.pdm.toml
.pdm-python
celerybeat-schedule
celerybeat.pid
*.sage.py
.env
.spyderproject
.spyproject
.ropeproject
/site
.dmypy.json
dmypy.json
.pypirc
